.bg-midnight-purple {
  background-image: linear-gradient(
    45deg,
    #0d0d1a 0%,
    #1b1b3d 40%,
    /* #2c2c61 50%, */ #3f1df5 100%
  );
}

form {
  background: rgb(141 129 129 / 7%);
  border-radius: 1rem;
  width: 100vw;
}

.addButton {
  background-color: #6a32ff !important;
  border-color: #6a32ff !important;
  box-shadow: 0 0 10px rgba(106, 50, 255, 0.6);
  transition: 0.3s ease;
}

.addButton:hover {
  background-color: #8e5aff !important;
  border-color: #8e5aff !important;
  box-shadow: 0 0 15px rgba(142, 90, 255, 0.7);
}

.w-20 {
  width: 30% !important;
  height: 40%;
}

/* .hit {
    width: 5vw;
} */

.margin-right {
  margin-right: 15vw;
}

#Main-div {
  width: 100vw;
  height: 100vh;
}